@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<style>
    body {
        background-image: url('/images/3139256.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<h2>Password Reset Link Generated</h2>

@if (ViewBag.ResetLink != null)
{
    <p>For demo purpose, click the link below to reset password:</p>
    <a href="@ViewBag.ResetLink">@ViewBag.ResetLink</a>
}
else
{
    <p>If a valid email was provided, a reset link has been sent.</p>
}
